<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

  <title>To Do List</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">LP11</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>

  <br />
  <br />


  <div style="margin-left: 5%">
    <br>

    <!-- forms -->
    <div class="container">
      <form action="" method="post" enctype="multipart/form-data">
        <h3 class="text-center">DATA_TITLE DATA PASIEN</h3>

        <div class="form-group">
          <label for="nik">Nik</label>
          <input type="text" class="form-control" name="nik" id="nik" placeholder="Isi Nik..." value="DATA_NIK"
            required />
        </div>

        <div class="form-group">
          <label for="nama">Nama </label>
          <input type="text" class="form-control" name="nama" id="nama" placeholder="Isi Nama..." value="DATA_NAMA"
            required />
        </div>

        <div class="form-group">
          <label for="tempat">Tempat</label>
          <input type="text" class="form-control" name="tempat" id="tempat" placeholder="Isi Tempat..."
            value="DATA_TEMPAT" required />
        </div>

        <div class="form-group">
          <label for="tl">Tanggal Lahir</label>
          <input type="date" class="form-control" name="birth" id="birth" value="DATA_TL"
            placeholder="Isi Tanggal Lahir..." value="DATA_BIRTH" required />
        </div>

        <div class="form-group">
          <label>Gender</label>
          <div id="radiobutton">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="gender" id="inlineRadio1" value="Laki-laki" DATA_LK
                required>
              <label class="form-check-label" for="inlineRadio1">Laki-laki</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="gender" id="inlineRadio2" value="Perempuan" DATA_PR
                required>
              <label class="form-check-label" for="inlineRadio2">Perempuan</label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="email" id="email" placeholder="Isi Email..."
            value="DATA_EMAIL" />
        </div>

        <div class="form-group">
          <label for="telp">No HP</label>
          <input type="telp" class="form-control" name="telp" placeholder="Isi No Telepon..." id="telp"
            value="DATA_PHONE" />
        </div>

        <button type="submit" class="btn btn-primary" name="DATA_BUTTON" id="submit"
          style="margin-top: 10px">DATA_BUTTON</button>
        <a href="index.php"><button type="button" class="btn btn-danger" name="cancel"
            style="margin-top: 10px">Cancel</button></a>
      </form>
    </div>
    <!--end of forms-->



  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
</body>

</html>